# Node.js
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Editor de código (VSCode y WebStorm)
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencias de Capacitor
ios/
capacitor.config.json

# Build y cache
build/
dist/
out/
.next/
.expo/
.cache/
.temp/

# Archivos de configuración de sistema
.DS_Store
Thumbs.db

# SQLite (si se generan archivos locales)
*.sqlite
*.sqlite-journal

# Archivos de entorno
.env
.env.local
.env.*.local