
/* Core CSS required for Ionic components to work properly */
@import url('@ionic/react/css/core.css');

/* Basic CSS for apps built with Ionic */
@import url('@ionic/react/css/normalize.css');
@import url('@ionic/react/css/structure.css');
@import url('@ionic/react/css/typography.css');

/* Optional CSS utils that can be commented out */
@import url('@ionic/react/css/padding.css');
@import url('@ionic/react/css/float-elements.css');
@import url('@ionic/react/css/text-alignment.css');
@import url('@ionic/react/css/text-transformation.css');
@import url('@ionic/react/css/flex-utils.css');
@import url('@ionic/react/css/display.css');

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* import '@ionic/react/css/palettes/dark.always.css';*/
/* import '@ionic/react/css/palettes/dark.class.css'; */
/* import '@ionic/react/css/palettes/dark.system.css'; */

/* Theme configuration */
@import url('/src/theme/customFont.css');
@import url('/src/theme/variables.css');


.safe-area-top {
    padding-top: var(--safe-area-inset-top);
}