/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    --ion-background-color: #EEEEEE;
    --ion-text-color: #222831;
    --ion-color-primary: #00ADB5;
    --ion-color-primary-contrast: #EEEEEE;
  
    --ion-color-secondary: #D0D0D0;
    --ion-color-muted: #393E46;

    --ion-text-color-step-50: #2c323a;
	--ion-text-color-step-100: #363c44;
	--ion-text-color-step-150: #41464d;
	--ion-text-color-step-200: #4b5057;
	--ion-text-color-step-250: #555a60;
	--ion-text-color-step-300: #5f636a;
	--ion-text-color-step-350: #696d73;
	--ion-text-color-step-400: #74777d;
	--ion-text-color-step-450: #7e8186;
	--ion-text-color-step-500: #888b90;
	--ion-text-color-step-550: #929599;
	--ion-text-color-step-600: #9c9fa2;
	--ion-text-color-step-650: #a7a9ac;
	--ion-text-color-step-700: #b1b3b5;
	--ion-text-color-step-750: #bbbdbf;
	--ion-text-color-step-800: #c5c6c8;
	--ion-text-color-step-850: #cfd0d2;
	--ion-text-color-step-900: #dadadb;
	--ion-text-color-step-950: #e4e4e5;

	--ion-background-color-step-50: #e4e4e5;
	--ion-background-color-step-100: #dadadb;
	--ion-background-color-step-150: #cfd0d2;
	--ion-background-color-step-200: #c5c6c8;
	--ion-background-color-step-250: #bbbdbf;
	--ion-background-color-step-300: #b1b3b5;
	--ion-background-color-step-350: #a7a9ac;
	--ion-background-color-step-400: #9c9fa2;
	--ion-background-color-step-450: #929599;
	--ion-background-color-step-500: #888b90;
	--ion-background-color-step-550: #7e8186;
	--ion-background-color-step-600: #74777d;
	--ion-background-color-step-650: #696d73;
	--ion-background-color-step-700: #5f636a;
	--ion-background-color-step-750: #555a60;
	--ion-background-color-step-800: #4b5057;
	--ion-background-color-step-850: #41464d;
	--ion-background-color-step-900: #363c44;
	--ion-background-color-step-950: #2c323a;
}

.ion-palette-dark {
    --ion-background-color: #222831;
    --ion-text-color: #EEEEEE;
  
    --ion-color-secondary: #393E46;
    --ion-color-muted: #D0D0D0;

    --ion-text-color-step-50: #e4e4e5;
	--ion-text-color-step-100: #dadadb;
	--ion-text-color-step-150: #cfd0d2;
	--ion-text-color-step-200: #c5c6c8;
	--ion-text-color-step-250: #bbbdbf;
	--ion-text-color-step-300: #b1b3b5;
	--ion-text-color-step-350: #a7a9ac;
	--ion-text-color-step-400: #9c9fa2;
	--ion-text-color-step-450: #929599;
	--ion-text-color-step-500: #888b90;
	--ion-text-color-step-550: #7e8186;
	--ion-text-color-step-600: #74777d;
	--ion-text-color-step-650: #696d73;
	--ion-text-color-step-700: #5f636a;
	--ion-text-color-step-750: #555a60;
	--ion-text-color-step-800: #4b5057;
	--ion-text-color-step-850: #41464d;
	--ion-text-color-step-900: #363c44;
	--ion-text-color-step-950: #2c323a;

	--ion-background-color-step-50: #2c323a;
	--ion-background-color-step-100: #363c44;
	--ion-background-color-step-150: #41464d;
	--ion-background-color-step-200: #4b5057;
	--ion-background-color-step-250: #555a60;
	--ion-background-color-step-300: #5f636a;
	--ion-background-color-step-350: #696d73;
	--ion-background-color-step-400: #74777d;
	--ion-background-color-step-450: #7e8186;
	--ion-background-color-step-500: #888b90;
	--ion-background-color-step-550: #929599;
	--ion-background-color-step-600: #9c9fa2;
	--ion-background-color-step-650: #a7a9ac;
	--ion-background-color-step-700: #b1b3b5;
	--ion-background-color-step-750: #bbbdbf;
	--ion-background-color-step-800: #c5c6c8;
	--ion-background-color-step-850: #cfd0d2;
	--ion-background-color-step-900: #dadadb;
	--ion-background-color-step-950: #e4e4e5;
}

ion-app {
    --ion-toolbar-background: var(--ion-background-color);
    --ion-card-background: var(--ion-background-color);
    --ion-tab-bar-background: var(--ion-background-color);
    --ion-tab-bar-color: var(--ion-color-muted);
}