/* Core CSS required for Ionic components to work properly */
@import url('@ionic/react/css/core.css');

/* Basic CSS for apps built with Ionic */
@import url('@ionic/react/css/normalize.css');
@import url('@ionic/react/css/structure.css');
@import url('@ionic/react/css/typography.css');

/* Optional CSS utils that can be commented out */
@import url('@ionic/react/css/padding.css');
@import url('@ionic/react/css/float-elements.css');
@import url('@ionic/react/css/text-alignment.css');
@import url('@ionic/react/css/text-transformation.css');
@import url('@ionic/react/css/flex-utils.css');
@import url('@ionic/react/css/display.css');

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* import '@ionic/react/css/palettes/dark.always.css';*/
/* import '@ionic/react/css/palettes/dark.class.css'; */
/* import '@ionic/react/css/palettes/dark.system.css'; */

/* Theme configuration */
@import url('/src/theme/customFont.css');
@import url('/src/theme/variables.css');

/* Other global styles */
@import url('/src/shared/styles/animations.css');

/* Tailwind CSS */
@import "tailwindcss";

/* Custom styles */
.section-title {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--ion-text-color-step-100);
}

.edit-button {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  min-height: 1.6rem !important;
}


.safe-area-top {
    padding-top: var(--safe-area-inset-top);
}

.safe-margin-top {
	margin-top: var(--safe-area-inset-top);
}

.safe-area-bottom {
	padding-bottom: var(--safe-area-inset-bottom);
}

ion-button {
	text-transform: none;
	letter-spacing: normal;
	--box-shadow: none;
	--border-radius: 0.5rem;
}

ion-input {
	border-radius: 0.5rem;
	--padding-start: 0.5rem!important;
	transition-duration: 0.2s!important;
	height: 100%;
}

ion-textarea {
	--padding-bottom: var(--padding-top, 0.5rem)!important;
	transition-duration: 0.2s!important;
}

ion-input.has-focus {
	background: var(--ion-color-secondary-step-100);
}

ion-input::part(label) {
	height: 100%!important;
}

ion-input::part(input-wrapper) {
	/* display: flex;
	align-items: center; */
	height: 100%;
}

ion-input.large {
	font-size: 1.3rem;
	--padding-top: 0.8rem;
	--padding-bottom: 0.8rem;
}

ion-list {
	background: var(--ion-background-color)!important;
	border: 1px solid var(--ion-background-color-step-200)!important;
}

ion-card {
    box-shadow: none!important;
    --color: var(--ion-text-color)!important;
}

ion-button.large::part(native) {
    font-weight: 600;
    padding: 1rem 1.2rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}